.home__image {
  width: 100%;
  max-height: 400px;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  object-fit: cover;
  object-position: 0% 0%;
}
.home_row {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}
.home__container {
  background-color: teal;
}
.home {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
