.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  padding: 20px;
  width: 100%;
  min-width: 200px;
  max-height: 400px;
  min-height: 100px;
  background-color: white;
  z-index: 1;
}
.product > img {
  margin: 20px;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product > button {
  background: rgb(255, 168, 61);
  border: 1px solid;
  border-radius: 4px;
  color: #111;
  font-size: 14px;
  font-weight: 700;
}
.product__price {
  margin-top: 5px;
}

.product__rating {
  color: slateblue;
}
